<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:networkSecurityConfig="@xml/network_security_config">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyIdealClass"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".edit_student"
            android:exported="false" />
        <activity
            android:name=".add_student"
            android:exported="false" />
        <activity
            android:name=".student_admin"
            android:exported="false" />
        <activity
            android:name=".edit_parent"
            android:exported="false" />
        <activity
            android:name=".add_parent"
            android:exported="false" />
        <activity
            android:name=".parent_admin"
            android:exported="false" />
        <activity
            android:name=".edit_passport"
            android:exported="false" />
        <activity
            android:name=".edit_teacher"
            android:exported="false" />
        <activity
            android:name=".add_passport"
            android:exported="false" />
        <activity
            android:name=".add_teacher"
            android:exported="false" />
        <activity
            android:name=".teacher_admin"
            android:exported="false" />
        <activity
            android:name=".add_asset_admin"
            android:exported="false" />
        <activity
            android:name=".edit_asset_admin"
            android:exported="false" />
        <activity
            android:name=".assets_admin"
            android:exported="false" />
        <activity
            android:name=".edit_school_page"
            android:exported="false" />
        <activity
            android:name=".school_page_admin"
            android:exported="false" />
        <activity
            android:name=".edit_shedule"
            android:exported="false" />
        <activity
            android:name=".schedule_admin"
            android:exported="false" />
        <activity
            android:name=".edit_important_information"
            android:exported="false" />
        <activity
            android:name=".add_important_information"
            android:exported="false" />
        <activity
            android:name=".main_admin"
            android:exported="false" />
        <activity
            android:name=".important_information_admin"
            android:exported="false" />
        <activity
            android:name=".profile_user"
            android:exported="false" />
        <activity
            android:name=".result_evalution_teacher"
            android:exported="false" />
        <activity
            android:name=".evalution_teacher"
            android:exported="false" />
        <activity
            android:name=".club_teacher"
            android:exported="false" />
        <activity
            android:name=".edit_measure"
            android:exported="false" />
        <activity
            android:name=".add_measure"
            android:exported="false" />
        <activity
            android:name=".measure_teacher"
            android:exported="false" />
        <activity
            android:name=".edit_homework"
            android:exported="false" />
        <activity
            android:name=".add_homework"
            android:exported="false" />
        <activity
            android:name=".evalutions_teacher"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MyIdealClass.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".main_teacher_more"
            android:exported="false" />
        <activity
            android:name=".main_teacher"
            android:exported="false" />
        <activity
            android:name=".forgot_phone_number"
            android:exported="false" />
        <activity
            android:name=".Forgot_login"
            android:exported="false" />
        <activity
            android:name=".Forgot_email"
            android:exported="false" />
        <activity
            android:name=".forgot_account"
            android:exported="false" />
        <activity
            android:name=".Support"
            android:exported="false" />
        <activity
            android:name=".Start_Administration"
            android:exported="false" />
        <activity
            android:name=".Edit_asset_admin"
            android:exported="false" />
        <activity
            android:name=".Asset_shedule_edit_admin"
            android:exported="false" />
        <activity
            android:name=".Asset_admin"
            android:exported="false" />
        <activity
            android:name=".Delete_event_admin"
            android:exported="false" />
        <activity
            android:name=".Edit_event_admin"
            android:exported="false" />
        <activity
            android:name=".add_event_admin"
            android:exported="false" />
        <activity
            android:name=".Event_admin"
            android:exported="false" />
        <activity
            android:name=".Final_grades_admin"
            android:exported="false" />
        <activity
            android:name=".Evalution_admin"
            android:exported="false" />
        <activity
            android:name=".Delete_Homework"
            android:exported="false" />
        <activity
            android:name=".Edit_homework_admin"
            android:exported="false" />
        <activity
            android:name=".Add_Homework_Admin"
            android:exported="false" />
        <activity
            android:name=".Homework_admin"
            android:exported="false" />
        <activity
            android:name=".Start_activity_teacher"
            android:exported="false" />
        <activity
            android:name=".Nutrition_user"
            android:exported="false" />
        <activity
            android:name=".Autorization"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homework_user"
            android:exported="false" />
        <activity
            android:name=".School_asset_my_user"
            android:exported="false" />
        <activity
            android:name=".Application_form_User"
            android:exported="false" />
        <activity
            android:name=".School_asset_user"
            android:exported="false" />
        <activity
            android:name=".Important_information_user"
            android:exported="false" />
        <activity
            android:name=".Event_User"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myidealclass.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="androidx.core.content.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".School_info"
            android:exported="false" />
        <activity
            android:name=".About_the_app"
            android:exported="false" />
        <activity
            android:name=".Teacher_Select_User"
            android:exported="false" />
        <activity
            android:name=".Main_Teacher_User"
            android:exported="false" />
        <activity
            android:name=".MainParent"
            android:exported="false" />
        <activity
            android:name=".StartActivity2"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
    </application>

</manifest>